doctype html
html
  head
    title CV Saya
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css') // Menggunakan Bootstrap dari CDN
  body
    header
      h1.text-center Nama Anda
      p.text-center About Anda
      p.text-center Contact Anda
    main.container
      section#education
        h2 Pendidikan
        ul.list-group
          li.list-group-item Pendidikan 1
          li.list-group-item Pendidikan 2
      section#experience
        h2 Pengalaman
        ul.list-group
          li.list-group-item Pengalaman 1
          li.list-group-item Pengalaman 2
      section#skills
        h2 Keterampilan
        ul.list-group
          li.list-group-item Keterampilan 1
          li.list-group-item Keterampilan 2
      section#photo
        h2 Foto Diri
        img.img-fluid(src='https://via.placeholder.com/150', alt='Foto Anda') // Ganti dengan URL foto Anda